.main-section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image-left {
  height: 978px;
  width: 978px;
  position: absolute;
  top: -521px;
  left: -397px;
  background-repeat: no-repeat;
}
.image-right {
  height: 978px;
  width: 978px;
  position: absolute;
  bottom: -525px;
  right: -374px;
  background-repeat: no-repeat;
}
.flex-container {
  display: flex;
  flex-direction: row;
  padding: 6%;
  div {
    margin: auto;
  }
}
.card {
  z-index: 10;
  width: 300px;
  height: 350px;
  border-radius: 20px;
  background-color: antiquewhite;
}

.card_top {
  text-align: center;
  width: 300px;
  height: 38%;
  border-radius: 20px 20px 0px 0px;
}
.card_bottom {
  text-align: center;
}
.dash {
  border-bottom: 1px solid hsl(0, 0%, 59%);
  width: auto;
  padding: 8%;
}
.profile-picture {
  border-radius: 50%;
  padding: 10px;
  width: 80px;
  height: 80px;
  margin-top: -50px;
}
.heading {
  color: black;
  font-weight: 400;
  font-size: 24px;
}
.age {
  color: hsl(0deg, 0%, 59%);
  font-weight: 200;
  font-size: 24px;
  padding: 8px;
}
.subheading {
  color: hsl(0, 0%, 59%);
  font-weight: 200;
  font-size: 14px;
}

@media screen and (max-width: 400px) {
  .card {
    width: 200px;
    height: 250px;
  }
  .card_top {
    width: 200px;
  }
  .heading {
    font-size: 18px;
  }

  .subheading {
    font-size: 8px;
  }
}
